.header {
    width: 100%;
    border-bottom: 1px solid #ddebe8;
}

.header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 190px;
    height: 48px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .logo {
        width: 120px;
        height: 25px;
    }
}