/* global */
* {
    box-sizing: border-box;
}
body {
    font-size: 15px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header */

.header {
    width: 100%;
    border-bottom: 1px solid #ddebe8;
}

.header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 190px;
    height: 48px;
    cursor: pointer;
}

.navigation-items {
    display: flex;
    gap: 32px;
}

.main-item {
    font-weight: 900;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 25px 10px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    right: -20px;
}

.dropdown-content a {
    padding: 5px 15px;
    color: #191e1e;
    font-weight: 500;
}

.dropdown-content__projects .active-link {
    color: #768adb;
}

.dropdown-content a:hover,
.wrapper-hamburger__dropdown a:hover {
    color: green;
}

.upper-item {
    font-size: 13px;
    padding: 5px 15px;
}

.arrow {
    width: 8px;
    height: 8px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    transform: rotate(135deg);
    margin-bottom: 4px;
}

.dropdown-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* hamburger-menu */

.hamburger-menu {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.hamburger-lines,
.hamburger-lines::before,
.hamburger-lines::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 3px;
    background-color: #222;
}
.hamburger-lines::before,
.hamburger-lines::after {
    content: '';
    display: block;
}
.hamburger-lines::before {
    transform: translateY(-6px);
}
.hamburger-lines::after {
    transform: translateY(6px);
}

.hamburger-menu:hover .hamburger-lines,
.hamburger-menu:hover .hamburger-lines::before,
.hamburger-menu:hover .hamburger-lines::after {
    background-color: green;
    transition: background .3s;
}

.wrapper-hamburger__menu {
    position: fixed;
    top: -100vh;
    left: 0;
    background-color: #191e1e;
    z-index: 999;
    height: 100%;
    width: 100%;
    padding: 80px 60px;
    transition: all .5s ease-in-out;
    overflow-y: scroll;
}

.hamburger__visibility {
    top: 0;
}

.hamburger__menu-close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 26px;
    height: 26px;
    opacity: 0.7;
}

.hamburger__menu-close:hover {
    cursor: pointer;
    opacity: 1;
}

.hamburger__menu-close:before,
.hamburger__menu-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 26px;
    width: 2px;
    background-color: #fafcfb;
}
.hamburger__menu-close:before {
    transform: rotate(45deg);
}
.hamburger__menu-close:after {
    transform: rotate(-45deg);
}

.wrapper-hamburger__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #666;
    padding: 20px 0;
    cursor: pointer;
}

.hamburger-navigation {
    font-size: 28px;
    font-weight: 600;
    color: #fafcfb;
}

.arrow-burger {
    width: 12px;
    height: 12px;
    border-top: 2px solid #98afae;
    border-right: 2px solid #98afae;
    transform: rotate(135deg);
    margin-bottom: 4px;
}

.wrapper-hamburger__dropdown {
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-in-out;
}

.dropdown-content__hamburger-active {
    max-height: 650px;
    transition: max-height 0.5s ease-in-out;
}

.hamburger-dropdown__link {
    font-size: 21px;
    color: #98afae;
    margin: 10px 0;
    width: fit-content;
    display: inline-block;
}

.upper-item__burger {
    color: #fafcfb;
    margin: 20px 0 15px;
}
/* main */
/* 1) main for description */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-title {
    font-family: 'Metropolis', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #191e1e;
}

.main-subtitle {
    display: inline-block;
    font-family: 'Metropolis', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    margin: 0 20px 50px 0;
}

.main-description {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.input__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search__card {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.search__card::placeholder {
    font-size: 18px;
    color: #98afae;
}

.search__card:focus {
    outline: none;
}

/* 2) main for cards */
.card-image {
    height: 60px;
    width: 70px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content {
    width: 100%;
    background-color: #ebf2f2;
}

.card {
    position: relative;
    margin-top: 20px;
    padding: 40px 30px;
    gap: 20px;
    display: flex;
    max-width: 400px;
    background-color: #FFFFFF;
    align-items: start;
    transition: top;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    top: -10px;
}

.card-title {
    font-family: 'Metropolis', sans-serif;
    font-size: 24px;
    margin-top: 0;
}

.card-subtitle {
    font-size: 16px;
    line-height: 1.5;
}

.card-wrapper {
    max-width: 950px;
    margin: 0 auto 40px ;
}

/* media queries */
@media (max-width: 900px) {
    .navigation {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger__visibility {
        top: 0;
    }
}

@media (min-width: 900px) {
    .hamburger__visibility {
        display: none;
    }
}

@media (max-width: 800px) {
    .header-logo {
        width: 120px;
        height: 25px;
    }

    .main-title {
        font-size: 48px;
    }

    .main-subtitle {
        font-size: 20px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-subtitle {
        font-size: 16px;
    }

    .card-wrapper {
        margin: 0 25px;
    }

    .card {
        max-width: none;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .hamburger-navigation {
        font-size: 22px;
    }
}