.auth__wrapper {
    height: 100vh;
    background: rgb(73,47,214);
    background: linear-gradient(90deg, rgba(73,47,214,1) 22%, rgba(109,90,221,1) 47%);
    display: flex;
    align-items: center;
    justify-content: right;
}