.burger__layout {
    position: fixed;
    top: -100vh;
    left: 0;
    background-color: #191e1e;
    z-index: 999;
    height: 100%;
    width: 100%;
    padding: 80px 60px;
    transition: all .5s ease-in-out;
    overflow-y: scroll;
}

.open__burger {
    top: 0;
}

.hamburger__menu-close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 26px;
    height: 26px;
    opacity: 0.7;
}

.hamburger__menu-close:hover {
    cursor: pointer;
    opacity: 1;
}

.hamburger__menu-close:before,
.hamburger__menu-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 26px;
    width: 2px;
    background-color: #fafcfb;
}
.hamburger__menu-close:before {
    transform: rotate(45deg);
}
.hamburger__menu-close:after {
    transform: rotate(-45deg);
}